body {
    font: 400 15px Lato, 'Roboto';
    line-height: 1.8;
    color: #303030;
    margin: 0;
}

h1 {
    font-size: 37px;
    font-family: 'Playfair Display';
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    margin-bottom: 19px;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

.h-title {
    text-transform: initial;
    font-family: 'Playfair';
    color: #303030;
}

.h-subtitle {
    text-transform: initial;
    font-family: 'Playfair';
    color: #303030;
    display: inline-table;
}

.h-subtitle:before {
    content: "";
    background: #ee3124;
    height: 2px !important;
    width: 53px;
    display: inline-table;
    vertical-align: middle;
    margin-right: 11px;
}

.h-subtitle:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.mini-menu {
    width: 70%;
}

/******** Tabs ***********************/

.tab {
    overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(90deg, rgba(255, 255, 255, 0.7875525210084033) 0%, #f53323 50%, rgba(255, 255, 255, 0.7035189075630253) 100%);
    border-image-slice: 1;
    color: rgb(102, 102, 102);
}

/* Create an active/current tablink class */
.tab button.active {
    border-bottom: 1px solid #f53323;
    color: #f53323;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.tablinks .active:hover {
    border-bottom: 1px solid #f53323;
    font-weight: 600;
}

/*************************************/


/*********** Background colors *******/

.luminance-light-color {
    background-color: #fbe5da30;
}

.fa-color {
    color: #f33123;
}

/************************************/

/********* Card *********************/
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-left: 31px;
    margin-right: 31px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/***********************************/

.wrapper-about-company {
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.wrapper-about-company .col-sm-4 {
    width: 500px;
    margin-top: 43px;
    margin-bottom: 43px;
    padding: 35px;
}

.center-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row.center-element {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.img-gallery .btn-gallery {
    position: absolute;
    bottom: 10px;
    left: 50%;
    -ms-transform: translate(-55%, 0%);
    transform: translate(-55%, 0%);
}

.img-gallery>img:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

.btn-gallery {
    --color: #c71818;
    background-color: transparent;
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    cursor: pointer;
    margin: 20px;
    font-size: 17px;
    z-index: 1;
    width: 250px;
    color: #b51a2a;
    border: 1px solid var(--color);
    border-radius: 6px;
    position: relative;
}

.btn-gallery::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 300px;
    height: 300px;
    z-index: -1;
    border-radius: 50%;
}

.btn-gallery:hover {
    color: #ffffff;
}

.btn-gallery:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
}

.btn-gallery:hover::before {
    top: -70px;
    left: -30px;
}

.div-separator {
    margin-top: 20px;
}

.jumbotron {
    background-color: #fff;
    color: #fff;
    font-family: Montserrat, sans-serif;
    padding-top: 0;
    padding-bottom: 19px;
    margin-bottom: 0px;
    margin-top: 37px;
}

.container-fluid {
    padding: 0px 0px;
}

.bg-grey {
    background-color: #f6f6f6;
}

.logo-small {
    color: #f4511e;
    font-size: 50px;
}

.logo {
    color: #f4511e;
    font-size: 150px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.carousel-caption-btn {
    --color: #fff;
    background-color: transparent;
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    cursor: pointer;
    margin: 20px;
    font-size: 17px;
    z-index: 1;
    width: 250px;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
}

.carousel-caption-btn::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 300px;
    height: 300px;
    z-index: -1;
    border-radius: 50%;
}

.carousel-caption-btn:hover {
    color: #f43121;
}

.carousel-caption-btn:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
}

.carousel-caption-btn:hover::before {
    top: -70px;
    left: -30px;
}

.carousel-caption-description-adjective {
    font-family: Ms Madi;
    font-size: 41px;
    margin: 0;
}

.carousel-caption-description {
    font-size: 19px;
}

.item {
    height: 700px;
}

.item.active {
    height: 700px;
}

.carousel-img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}

.carousel-row {
    height: 700px;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.carousel {
    /**/
}

.carousel-inner {
    height: 700px;
    overflow: hidden;
}

.carousel-item {
    height: inherit;
}

.carousel-control {
    top: unset;
    bottom: 21px;
    height: inherit;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
    color: #f63321;
}

.carousel-indicators li {
    border-color: #f4511e;
}

.carousel-indicators li.active {
    background-color: #f4511e;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

.panel {
    border: 1px solid #f4511e;
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}

.panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: white !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
}

.banner-section {
    height: 500px;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.banner-section-img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
    padding: 0;
    /* object-position: 17% 29%; */
    object-view-box: inset(23% 0% 35% 0%);
}

figure {
    margin: 0;
    padding: 4px;
    justify-content: center !important;
    display: grid;
}

figcaption {
    padding: 2px;
    text-align: center;
}

.figure-section {
    width: 250px;
    height: 219px;
}

.figure-section:hover {
    border: 1px dotted rgb(230, 230, 230);
}

.figure-section :hover {
    color: #e9071e;
}

.header-section-title {
    margin-top: 40px;
}

.header-section-subtitle {
    margin-bottom: 30px;
}

.header-section-subtitle>.carousel-caption-description {
    color: #303030 !important;
    font-family: "Playfair Display", "Roboto", Sans-serif;
    font-size: 31px !important;
    font-weight: 600 !important;
    letter-spacing: 5px !important;
}

.img-presentation-grid {
    width: 250px;
    height: 170px;
}

.navbar {
    margin-bottom: 0;
    background-color: #fff !important;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border-radius: 0;
    font-family: Roboto, Montserrat, sans-serif;
}

.navbar li a,
.navbar .navbar-brand {
    color: #2e2d2d !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.navbar-nav>li>a:after {
    content: "|";
    display: inline-block;
    margin: 0px 20px;
    color: #e1e1e1;
}


.nav>li>a#contact-menu-item:after {
    color: #fff !important;
}

.waves-contact-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-right: 0;
    transform: rotate(-90deg);
    z-index: 0;
}

#contact-menu-item a:after {
    content: "";
    display: inline-block;
    margin: 0px 20px;
    color: #e1e1e1;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}

.footer h5 {
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
}

.footer p,
.footer a {
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .footer-title {
    color: #e4002b;
    font-size: 22px;
    font-weight: bold;
}

.footer .contact-info p {
    margin-bottom: 5px;
    color: #fff !important;
}

.footer .contact-info p span {
    color: #fff !important;
    font-weight: bold;
}

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

.inner {
    width: 100%;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul {
    padding-left: 10px;
    margin: auto !important;
}

img {
    height: auto;
    max-width: 100%;
}

figure a {
    text-decoration: none;
    color: currentcolor;
}


/*************************************/


/********* Svg ***********************/
.shape_inner,
.shape_wrapper {
    /* position: absolute; */
    left: 0;
    top: 0;
    width: 100%;
    height: 65%;
    display: block;
    padding: 0;
    margin: 0;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    -webkit-mask-position: top;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
}

.img-mask-wave-purple {
    /* -webkit-mask-image: url('http://html.cwsthemes.com/bellaria/images/icons/shape_two.svg'); */
    -webkit-mask-image: url('../Images/svg/wave-purple.svg');
    /* mask-image: url("/assets/images/individual-img/svg/melting-fig.svg"); */
    -webkit-mask-position: bottom;
    background-color: #a079b0;
    ;
}

.img-mask-wave-white {
    /* -webkit-mask-image: url('http://html.cwsthemes.com/bellaria/images/icons/shape_two.svg'); */
    -webkit-mask-image: url('../Images/svg/wave-white-f-purple.svg');
    /* mask-image: url("/assets/images/individual-img/svg/melting-fig.svg"); */
    -webkit-mask-position: bottom;
    background-color: #fff;
}

.img-blob-white-purple {
    /* -webkit-mask-image: url('http://html.cwsthemes.com/bellaria/images/icons/shape_two.svg'); */
    -webkit-mask-image: url('../Images/svg/blob-purple-white.svg');
    /* mask-image: url("/assets/images/individual-img/svg/melting-fig.svg"); */
    -webkit-mask-position: bottom;
    background-color: #fff;
    -webkit-mask-repeat: no-repeat;
}

.wrapper-blob-white-purple {}

/*************************************/

/********* Gradient background *******/

.gradient-color-purple {
    background-color: #f4e8fe;
    /* background-image: linear-gradient(62deg, #c381f0 0%, #E0C3FC 100%);       */
}

/********* Product slider ************/

.img-product-slider {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container-product-slider {
    position: relative;
}

/* Hide the images by default */
.productImgSlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor-product-slider {
    cursor: pointer;
}

/* Next & previous buttons */
.prev-product-slider,
.next-product-slider {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #f43221;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    text-decoration: none;
}

/* Position the "next button" to the right */
.next-product-slider {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev-product-slider:hover,
.next-product-slider:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.row-slider:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column-slider {
    float: left;
    margin-right: 10px;
}

/* Add a transparency effect for thumnbail images */
.slider-product {
    opacity: 0.6;
}

.active,
.slider-product:hover {
    opacity: 1;
}

/****************************************/

/******* Breadcrumb *****/
.breadcrumb-section {
    position: absolute;
    left: 0;
    margin-top: -40px;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 16px;
    font-family: monospace;
    font-weight: 700;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: rgb(255, 255, 255);
    content: "\226B";
}

ul.breadcrumb li a {
    color: #fff;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #f33122;
}

/***********************/

/******* Contact ********/

.center-element-contact-info {
    margin-top: 50px;
    width: 1500px;
    margin-left: 21%;
    margin-right: 25%;
}

.contact-section {
    background-color: #f5f5f5;
    max-height: 870px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .contact-info {

} */

.contact-info h3,
.contact-info p,
.contact-info ul {
    color: #333;
    margin-left: 20%;
}

.contact-info h3 {
    margin-bottom: 20px;
    font-family: 'Playfair Display';
    font-weight: 600;
}

.contact-info p {

    font-family: 'Roboto';
}

.contact-info-footer p {
    font-family: 'Roboto';
    color: #fff !important;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
    width: 450px;
}

.contact-info ul li {
    margin-bottom: 10px;
    display: flow;
}

.contact-info ul li::before {
    content: '•';
    color: #e4002b;
    font-weight: bold;
    display: inline-block;
    width: 20px;
}

.contact-methods p span {
    color: #e4002b;
    font-weight: 400;
}

.contact-info .contact-methods {
    margin-top: 30px;
}

.contact-form {
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.contact-form button {
    background-color: #e4002b;
    border: none;
}

#send-email-btn:hover {
    background-color: #e64236;
}



#send-email-btn i {
    padding-left: 7px;
}

footer div a {
    color: #fff;
    text-decoration: none;
}

/***************** Scroll reveal animation *********************/
.reveal {
    position: relative;
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}

.active.fade-in {
    animation: fade-in 3s;
}

.active.zoom-in {
    margin: 24px;
    width: 50px;
    height: 50px;
    animation: zoom-in 2s ease-in none;
}

/************ Navbar ***********/
@media (min-width: 576px) {

    .dropdown:hover>.dropdown-menu,
    .dropend:hover>.dropdown-menu {
        display: block;
        /* opacity: 0; */
        margin-top: 0;
        /* transition: all 0.5s; */
    }

    .dropend:hover>.dropdown-menu {
        position: absolute;
        top: 0;
        left: 100%;
    }
}

.dropdown-menu {
    font-family: 'Roboto';
    font-size: 12px;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: 0;
    content: "";
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

a#navbarDropdown,
a.dropdown-item {
    margin-left: 11px;
    text-transform: uppercase;
}

a.dropdown-item {
    margin-left: 11px;
    padding: 0;
}

.dropdown-divider {
    height: 0 !important;
}

.dropend .dropdown-toggle::after {
    right: 11px;
    position: absolute;
    border-top: 0.4em solid transparent;
    border-right: 0;
    border-bottom: .4em solid transparent;
    border-left: .4em solid;
    margin-left: initial !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    background-color: #fff0 !important;
}

/* 
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    opacity: 1;
} */


.form-group {
    margin-bottom: 11px;
}

.form-group label {
    font-weight: 100;
    font-size: 11px;
}

.nav>li>a#language:after {
    color: #fff !important;
}

#language a:after {
    content: "";
    display: inline-block;
    margin: 0px 20px;
    color: #e1e1e1;
}

#language {
    padding-top: 5px;
}

.flag {
    width: 16px;
}

.flag-ro {
    height: 16px;
}

.flag-usa {
    margin-left: -31px;
    height: 11px;
}

/****** Sticky social bar ******/

.social-icon-bar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #f53323;
    border-radius: 0px 11px 11px 0px;
    z-index: 1;
    background-color: #fff;
}

.social-icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 11px;
}

.social-icon-bar #facebook:hover {
    border-radius: 0px 11px 0px 0px;
}

.social-icon-bar #linkedin:hover {
    border-radius: 0px 0px 11px 0px;
}

.social-icon-color {
    color: #f53323 !important;
}

.social-icon-bar a:hover {
    background-color: #ffcece;
}

.social-icon-noncolor {
    color: rgb(190, 190, 190) !important;
}

a.social-icon-noncolor:hover {
    font-size: 29px;
    color: rgb(95, 95, 95) !important;
}

.footer-social-icon-color {
    color: #fff !important;
}

/*******************************/

#mini-menu-center-img {
    width: 201px;
}

/***** Horizontal carousel *****/
.horizontal-carousel-container {
    padding-left: 170px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.horizontal-carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.horizontal-carousel-item {
    min-width: 20%;
    /* Show 5 images at once */
    box-sizing: border-box;

}

.horizontal-carousel img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
}

/*******************************/
.carousel-item-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(77, 77, 77, 0.397);

    z-index: 1;
}

.carousel-item img {
    position: relative;
    z-index: 0;
}

.carousel-caption {
    z-index: 2;
}

/*******************************/
@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes zoom-in {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }

}

/***********************/
@keyframes slide {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        float: none !important;
    }

    .carousel-caption {
        float: right;
        text-align: right;
        right: 10%;
        left: 50%;
        width: 40%;
    }
}

@media screen and (min-width: 768px) {

    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next,
    .carousel-control .icon-prev {
        width: 30px;
        height: 48px;
        margin-top: -10px;
        font-size: 41px;
    }
}

@media (max-width: 768px) {
    .nav>li>a:after {
        content: "";
    }

    .collapse>ul {
        padding-left: 30px !important;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }

    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        font-size: 100px;
    }

    .contact-form-info {
        width: auto !important;
        margin-left: 12px !important;
        padding-bottom: 20px;
    }

    .contact-info-position {
        left: 22px !important;
        position: relative;
    }

    #mini-menu-center-img {
        width: 119px;
    }

    .horizontal-carousel-container {
        display: none;
    }

    .mini-menu h3, p {
        text-align: -webkit-auto !important;
    }
}


/******* Vertical carousel *******/

@keyframes scrollYverticalUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(calc(-250px * 4));
    }
}

@keyframes scrollYverticalReverse {
    0% {
        transform: translateY(calc(-250px * 4));
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes scrollXvertical {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 4));
    }
}

.slider {
    z-index: 1000;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    flex-direction: column;
    border-radius: 8px;
    height: 100%;
    width: 100%;
}

.slide-track {
    animation: scrollYverticalUp 19s linear infinite;
    float: right;
    position: absolute;
    top: -10px;
}

.slide-track-reverse {
    animation: scrollYverticalReverse 19s linear infinite;
    float: right;
    position: absolute;
    top: -10px;
}

.slide-vertical {
    margin-top: 100px;
    position: relative;
    background-color: var(--grey-300);
    aspect-ratio: auto;
    border-radius: 8px;
    flex-direction: column;
    display: flex;
    overflow: hidden;
}

.slide-vertical img {
    height: 191px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 37px;

}

@media only screen and (max-width: 980px) {
    .slider {
        height: 100px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .slide-track {
        animation: scrollXvertical 40s linear infinite;
        display: flex;
        width: calc(250px * 14);
    }

    .slide-vertical {
        height: 100px;
        width: 250px;
    }
}

/********************************/

.various-desserts-presentation-title {
    font-family: 'Roboto';
    color: #303030;
}

.contact-title {
    font-family: 'Roboto';
    color: #303030;
}

.row-contact {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px
}

.contact-title-info {}

.contact-info-position {
    left: 210px;
    position: relative;
}

.contact-form-info {
    margin: auto;
}

.contact-container {
    margin-top: 73px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(253, 29, 29, 0.08167016806722693) 100%);
    min-height: 700px;
    height: auto;
}

/********** Media ***************/

@media only screen and (max-width: 1024px) {

    .wrapper-about-company .col-sm-4 {
        width: 50%;
        margin-top: 43px;
        margin-bottom: 43px;
        padding: 35px;
    }

    .btn-gallery {
        width: 160px;
        font-size: 11px;
        left: 47% !important;
        background-color: #fff7f8 !important;
        z-index: 0;
    }

    .contact-info ul {
        width: 350px;
        font-size: 14px;
    }

    .contact-info h3,
    .contact-info p,
    .contact-info ul {
        color: #333;
        margin-left: 0 !important;
    }

    .contact-info-position {
        left: 170px;
        position: relative;
    }

    .contact-form-info {
        width: 37%;
        margin-left: 16%;
    }

    .contact-info .contact-methods {
        margin-top: 20px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 770px) {

    .wrapper-about-company {
        display: block;
    }

    .wrapper-about-company .col-sm-4 {
        width: 100%;
        margin-top: 23px;
        margin-bottom: 23px;
        padding: 25px;
    }

    .wrapper-about-company .col-sm-4 img {
        width: 100%;
        padding: 7px;
        width: 100%;
    }

    .d-none {
        display: contents !important;
    }

    .mini-menu .col-sm-4 {
        display: block;
        width: 100%;
    }

    .mini-menu h3,
    p {
        text-align: center;
    }

    .wrapper-footer-meniu {
        padding-top: 37px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100% !important;
    }

    .navbar-nav>li>a:after {
        content: "";
    }
}


/********************************/