<footer class="container-fluid text-center"
style="background-color: #fb3521; background-image: linear-gradient(1deg, #971e129e, #fb3521); color: #fff; font-family: 'Roboto';box-shadow: 0px -1px 0px #888, 0px -3px 18px #797676;">
<div class="row center-element" style="padding-top: 37px;">
  <div class="col-md-3">
    <img src=".\Images\logo-white.png" width="100" height="50">
    <div class="contact-info-footer">
      <p><span>SUNAȚI ACUM LA:</span><br>0755 046 429</p>
      <p><span>ADRESA DE EMAIL:</span><br>office@eisberg-gelato.ro</p>
    </div>
  </div>
  <div class="col-md-3">
    <h5>Despre Noi</h5>
    <a href="#">Despre Eisberg</a><br>
    <a href="#">Istoria Noastră</a><br>
    <a href="#">Viziunea Eisberg</a>
  </div>
  <div class="col-md-3">
    <h5>Produse</h5>
    <a href="#">Deserturi</a><br>
    <a href="#">Înghețată</a><br>
    <a href="#">Fruttini Smoothies</a>
  </div>
  <div class="col-md-3">
    <h5>Info utile</h5>
    <a href="#">Contact</a><br>
    <a href="#">Politică de Confidențialitate</a><br>
    <a href="#">Termeni și Condiții</a><br>
    <a href="#">Politică Cookies</a>
  </div>
</div>
<a href="#contactPage" title="To Top">
  <span class="glyphicon glyphicon-chevron-up"></span>
</a>
<p
  style="font-family: 'Roboto'; font-size: 12px; font-weight: 100; color: grey; background-color: #fff; margin-bottom: 0;">
  <b><i>Eisberg © Copyright 2024 | Powered by
     <image src="./Images/fsp.ico" title="FSP" alt="FSP" tooltip="FPS" style="width: 19px; height: 19px;"/></i></b>
</p>
</footer>